@using mvcDotNetTrainingGround.Models;
@using mvcDotNetTrainingGround.Controllers;
@model List<Developer>;


<h2>Showing @Model.Count developers! </h2>

@for (var i = 0; i < Model.Count;i++){
    var developer = Model[i];
    var style = "";
    if (i % 2 == 0) {
        style="background-color:lightgray;";
    }
    <tr style="@style">
        <td>@developer.Name</td>
        <td>@developer.Email</td>
    </tr>
}

<!--
<table style="width:100%">
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
        </tr>
    </thead>
    @foreach (var developer in Model) {
        <tr>
            <td>@developer.Name</td>
            <td>@developer.Email</td>
        </tr>
    }   
    
</table>
-->

